<div class="project">
    <div>
        @* navbar*@
        <nav class="navbar abc navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" onclick="myFunction()" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-collapse" aria-expanded="false" aria-controls="sidebar-collapse" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars" style="color: #FFFFFF;"></i>

            </button>


            &nbsp;&nbsp;
            <div class="navbar-brand flex-grow-1">
                <h1 style="color:#FFFFFF">Valtech_</h1>
            </div>


            <button class="navbar-toggler" onclick="myFunction1()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars" style="color: #FFFFFF;"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item navbar-nav active flex-grow-1">
                        <h2 style="color:#FFFFFF">Welcome</h2>
                    </li>
                    <li class="nav-item navbar-nav flex-grow-1">
                        <h3 style="color:#FFFFFF">EN|FR</h3>
                    </li>
                    <li class="nav-item flex-grow-1">
                        <img class="img-fluid" style="height:28px;margin-right:20px" src="https://www.svgrepo.com/show/18861/bell.svg">
                        <sup class="badge badge-danger" style="color:#f0f8ff;font-size:16px;margin-left:-27px;padding:4px"><span style="color:#FFFFFF">1</span></sup>
                    </li>
                    <li class="nav-item navbar-nav flex-grow-1">
                        <h3 style="color:#FFFFFF">Help</h3>
                    </li>
                    <li class="nav-item">
                        <strong style="color:#FFFFFF">John Abraham</strong>
                        <img style="height:40px;" src="https://www.svgrepo.com/show/220462/profile-portfolio.svg" />
                    </li>
                </ul>
            </div>
        </nav>
        @* use of grid*@
        <div>
            <div class="row ">

                <div class="col-sm-2 bg-dark toggle-menu">
                    <nav class="navbar abc navbar-expand-lg navbar-dark bg-dark">
                        <div class="collapse sidebar mb-4 navbar-collapse" id="sidebar-collapse">
                            
                                <div class="menu">
                                    <ul style="color:white">
                                        Sales Order
                                        <li>Create Order</li>
                                        <li>Change order</li>
                                        <li>Order History</li>
                                        <li>Transaction List</li>
                                    </ul>
                                    <ul style="color:white">
                                        Reports
                                        <li>Authority to Supply</li>
                                        <li>Customer Acc Balance</li>
                                        <li>Customer Holding</li>
                                        <li>Material Safety Data</li>
                                        <li>Customer New Account</li>
                                        <li>Update Customer Acc</li>
                                        <li>Stock Balance</li>
                                    </ul>
                                    <ul style="color:white">
                                        Payement
                                        <li>Payement on Acc</li>
                                        <li>Till Reconciliation</li>
                                    </ul>
                                </div>
                           
                        </div>
                    </nav>
                </div>

                @* column2*@
                <div class="col-sm col-xl-6 midsection">
                    <section>
                        @*image*@
                        <div class="img">
                            <div class="valtech">
                                <img class="img-fluid" src="/lib/home.jpg" />
                            </div>
                        </div>
                        <br />

                        <div class="board">
                            @* box1*@
                            <div class="box">
                                <h3 class="box1">Bulletin Board</h3>
                                <p>
                                    Did you know?<br />
                                    You can recieve your commission cheque via direct deposit.<br />
                                    <strong class="line">Register</strong> now to our new valtech shop online to buy hardgoods, at your own convienience.
                                    Contact Valtech care for help.<br />
                                    <br />
                                    <strong>Messer Agent Care Support</strong><br />
                                    Monday to Friday, 8am to 5pm across all time zones.<br />
                                    Phone <strong class="line">1-800769-7907</strong> / Fax <strong class="line">1-800-734-5121</strong>
                                </p>
                            </div>
                            <br />
                            @*box2*@
                            <div class="box">
                                <h3 class="box1">Quick Actions</h3>
                                <p>
                                    Create account click <a href="#">here</a><br />
                                    Process credit cards call agent care <strong class="line">1-888-256-7359</strong><br />
                                </p>
                            </div>
                            <br />
                            @*box3*@
                            <div class="box">
                                <h3 class="box1">Frequently Asked Questions</h3>
                            </div>
                            <br />
                        </div>
                    </section>

                </div>
                @* column3*@
                <div class="col-sm col-xl-4 lastsection">
                    <section class="section3">
                        <div>
                            <br />
                            <br />
                            <h3 style="font-size:xx-large">Recent Activity</h3>
                            <hr style="outline:double" />
                            <div>
                                <table class="table table-responsive table-borderless">
                                    <h5>Scan Packages</h5>
                                    <tr>
                                        <th>
                                            Delivery Ref no
                                        </th>
                                        <th>
                                            Proposed Customer
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="line">12345</td>
                                        <td>Dan Perry</td>
                                    </tr>
                                    <tr>
                                        <td class="line">12345</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="line">12345</td>
                                        <td>Bruce Heart</td>
                                    </tr>
                                    <tr>
                                        <td class="line">12345</td>
                                        <td>Eric Fournier</td>
                                    </tr>
                                </table>
                                <hr style="outline:double" />
                            </div>
                            <div>
                                <strong>Create Sales Order - Search</strong>
                                <input class="input" type="search" placeholder="Search by Name, Number, Postal Code" /><br /><br />
                                <button class="input">Search</button>
                            </div>
                            <br />
                            <div>
                                <table class="table table-responsive table-borderless">
                                    <br />
                                    <strong> Delivery Due list</strong>
                                    <tr>
                                        <th>
                                            Del No.
                                        </th>
                                        <th>
                                            Customer No.
                                        </th>
                                        <th>
                                            Customer Name
                                        </th>
                                    </tr>
                                    <tr class="line">
                                        <td>12915</td>
                                        <td>2608171</td>
                                        <td>Dan Perry</td>
                                    </tr>
                                    <tr class="line">
                                        <td>13375</td>
                                        <td>1789763</td>
                                        <td>Bruce Heart</td>
                                    </tr>
                                    <tr class="line">
                                        <td>13491</td>
                                        <td>2562435</td>
                                        <td>Eric Fournier</td>
                                    </tr>
                                    <tr class="line">
                                        <td>13492</td>
                                        <td>1354765</td>
                                        <td>Melissa M</td>
                                    </tr>
                                </table>
                                <br />

                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>

    </div>
    @*footer*@
    <footer class="footer text-white bg-dark ">
        <div class="footer_content">
            <li style="list-style:none">Loading Policy</li> <br />
            <li></li>
            <li style="list-style:none">Terms & Conditions</li>
        </div>
    </footer>
</div>


